{
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": true,
    "printWidth": 100,
    "singleQuote": true,
    "semi": true,
    "arrowParens": "always",
    "trailingComma": "none"
}
